<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>
            var ngApp = angular.module('ngApp', []);
            ngApp.filter('prettyJson', function(){
                function prettyPrintJson(data) {
                    return JSON.stringify(data, null, '    ');
                }; 
                return prettyPrintJson; 
            }); 
            ngApp.controller('ngCtrl', function($http, $scope, $location){
                $scope.davicResult = ""; 
                $scope.davicEndpoint = $location.protocol() + "://" + $location.host() + ":" + $location.port() + "/davic";      

                $scope.examples = []; 
                $scope.examples[0] = {
                    "data": {"id":1}, 
                    "opt": ["-opt-", "-obj-read-", ["-opt-", "-store-read-", "data"], ["id"]]
                }; 

                $scope.goDavic = function(thisDataState, thisDavicOpt) {
                    let obj_data = JSON.parse(thisDataState); 
                    let obj_opt = JSON.parse(thisDavicOpt); 

                    $http({
                        method: 'POST', 
                        url: $scope.davicEndpoint, 
                        data: {
                            "data": obj_data, 
                            "opt": obj_opt
                        }, 
                        headers: {}
                    }).then ( 
                        function success (http_resp) {
                            console.info("> [rundavic] davic call success"); 
                            $scope.davicResult = http_resp.data;
                        }, 
                        function error (http_resp) {
                            console.info("> [rundavic] davic call failed");
                        }
                    );
                }; 

                $scope.applyExample = function(obj_data, obj_opt) {
                    $scope.dataState = JSON.stringify(obj_data, null, '    ');
                    $scope.davicOpt = JSON.stringify(obj_opt, null, '    '); 
                }; 
            });
        </script>
    </head>
    <body>
        <div ng-app="ngApp", ng-controller="ngCtrl">
            <h1>Let's Play Davic with Data Tables!</h1>
            <hr/>
            <p>Davic endpoint: {{davicEndpoint}}</p>
            <hr/>

            <table>
                <tr>
                    <td>Data State</td>
                    <td>Davic Operation</td>
                    <td></td>
                    <td>Result</td>
                </tr>
                <tr>
                    <td><textarea ng-model="dataState"></textarea></td>
                    <td><textarea ng-model="davicOpt"></textarea></td>
                    <td><button ng-click="goDavic(dataState, davicOpt)">Go!</button></td>
                    <td><pre>{{davicResult}}</pre></td>
                </tr>
            </table>

            <h2>Examples</h2>
            <table border=1>
                <tr>
                    <td>Example #</td>
                    <td>Data State</td>
                    <td>Davic Operation</td>
                    <td></td>
                </tr>
                <tr ng-repeat="(key,exp) in examples">
                    <td>{{key}}</td>
                    <td><pre>{{exp["data"] | prettyJson}}</pre></td>
                    <td><pre>{{exp["opt"] | prettyJson}}</pre></td>
                    <td><button ng-click="applyExample(exp['data'],exp['opt'])">Apply</button></td>
                </tr>
            </table>
            <p></p>
        </div>
    </body>
</html>